.work-button {
    .btn{
        margin-top: 95px;
        margin-bottom: 125px;
        height: 45px;
        width: 146px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        border-radius: 10px;
        background-color: #f42267 !important;
        }
}