.testimonials-header {
        margin-top: 80px;
        margin-left: 407px;
       span {
           font-family: 'Palatino Linotype', sans-serif;
           font-style: italic;
           color: white;
           font-size: 41px;
       }
}
.testimonials-sh {
        
        margin-left: 407px;
        span{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 50px;
            color: white;
    
        }
}
.testimonials-quote {
    margin-top: 80px;
    margin-left: 403px;
}
.testimonials-body {
        margin-left: 457px;
        span{
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            color: white;
    
        }
    
}
.testimonials-stars {
    margin-left: 452px;
    margin-top: 80px;
}
.testmonials-name {
    margin-top: 30px;
    margin-left: 457px;
        span{
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            color: white;
        }
}