.project-img {

    
   img {
    margin-left: 345px;
    margin-top: 80px;
   }
}
.project-text {
    
    color: #fff;
    .project-text-dif {
        margin-left: 200px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
    }
    .project-text-header {
        margin-left: 200px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 30px;
        }
    }
    .project-text-main {
        margin-left: 200px;
        margin-top: 40px;
        text-align: center;
        opacity: 50%;
        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
        }
    }
}

.employees-text {
    color: #fff;
    .employees-text-dif {
        margin-left: 200px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
    }
    .employees-text-header {
        margin-left: 200px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 30px;
        }
    }
    .employees-text-main {
        margin-left: 200px;
        margin-top: 40px;
        margin-bottom: 100px;
        text-align: center;
        opacity: 50%;
        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
        }
    }
}
.employees {
    background-color: #40286a;
}
.awards-text {
    
    color: #fff;
    .awards-text-dif {
        margin-left: 200px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
    }
    .awards-text-header {
        margin-left: 200px;
        margin-top: 30px;
        text-align: center;
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 30px;
        }
    }
    .awards-text-main {
        margin-left: 200px;
        margin-top: 40px;
        text-align: center;
        opacity: 50%;
        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
        }
    }
}