<div class="cont">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Название</span>
        <input type="text" class="form-control" placeholder="Введите название заметки" aria-describedby="basic-addon1"[(ngModel)]="name" >
      </div>
      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Текст</span>
          <input type="text" class="form-control" placeholder="Введите текст заметки"  aria-describedby="basic-addon1" [(ngModel)]="text">
        </div>
        <div class="input-group mb-3 inputdate">
          <span class="input-group-text" id="basic-addon1">Дата заметки</span>
          <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1 " [(ngModel)]="date">
        </div>
        <button type="button" class="btn btn-outline-secondary" (click) = "enterNote($event)">Добавить</button>
    </div>