html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-radio {
    position: relative;
    display: flex;
    width: 400px;
    padding: 10px 20px;
    flex-direction: column;
    flex-wrap: wrap;
}
input {
    display: none;
}
.form-control {
    width: 100%;
   position: relative;
   padding: 10px 20px;
}

label::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid rgb(41, 136, 57);
    border-radius: 10px;
    top: 7px;
    left: -30px;
}
input:checked+label::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: rgb(66, 41, 136);
    border-radius: 10px;
    top: 14px;
    left: -23px;
}
