.out {
    height: 400px;
    width: 400px;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    background: greenyellow;
    position: absolute;
}
.in {
    font-size: 30px;
    line-height: 100px;
    color: white;
    background: blue;
    height: 100px;
    width: 100px;
    text-align: center;
}
.in1 {   
    position: absolute;
    top: 400px;
    left: -100px;
}
.in2 {
    position: absolute;
    left: -100px;
    top: -100px;
}
.in3 {
    position: absolute;
    top: -100px;
    left: 400px;
}
.in4 {
    position: absolute;
    left: 400px;
    top: 400px;
}