.header-text {
     margin-top: 181px;
     margin-left: 235px;
    font-size: 43px;
    span {
        font-family: 'Palatino Linotype', sans-serif;
        font-style: italic;
        color: white;
    }
}
.main-text{
    margin-top: 33px;
    margin-left: 235px;
    span{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 65px;
        color: white;

    }
}
.text-body {
    margin-top: 52px;
    margin-left: 235px;
    span{
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        color: white;
    }
}
.man-img{
    img{
    top:0px;
    left:0px;}
}