header {
    background: url("../img/header-bg-2.jpg") no-repeat;
    background-size: cover;
    height: 1006px;
    width: 100%;
    }
html {
    overflow-x: hidden;
}
.logo {
    margin-top: 46px;
    margin-left: 80px;
}
ul {
    float: right;
    display: flex;
    list-style-type: none;

   li{
       
       font-size: 18px;
       margin-right: 34px;
       margin-top: 70px;
    a{
        text-decoration: none;
        span{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: white;
        }
       }
   }
}

