/* Incluche the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  .container{
      position: relative;
      margin: 0 auto;
      max-width: 768px;
  }
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  form{
    display: flex;
    flex-direction: column ;
  }
  /* Style the close button */
  .close, .edit {
    
    padding: 12px 16px 12px 16px;
  }
  .edit{
    right: 45px;
    padding: 11px 16px 10px 16px;
  }
  .close:hover, .edit:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .countImput{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 150px;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: 0;
  }

  .btnDnone{
    display: none;
  }
  .btnBlock{
    display: block;
  }
  
  .btn:hover {
    background-color: #bbb;
  }
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse; 
  }
  table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
  }
  table td {
    border: 1px solid #dddddd;
    padding: 5px;
  }
  table tr td:first-child, .table tr th:first-child {
    border-left: none;
  }
  table tr td:last-child, .table tr th:last-child {
    border-right: none;
  }