li { 
	list-style-type: none; 
} 
ol { 
	counter-reset: list1; 
} 
ol li:before { 
	counter-increment: list1; 
	content: counter(list1) ". "; 
}
ol ol { 
	counter-reset: list2; 
} 
 ol ol li:before { 
	counter-increment: list2; 
	content: counter(list1) "." counter(list2) ". "; 
}
