<div class="twit">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input  type="text" class="form-control" [(ngModel)]="name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <span class="input-group-text">введите сообщение</span>
    <input [(ngModel)]="text" class="form-control" aria-label="With textarea"(keyup)="addTwit($event)" >
  </div>  
<app-twits [twits] = "twitList"></app-twits>
</div>