ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
}
li {
    position: relative;
    background: green;
    padding: 10px;
    margin: -225px;
    height: 43px;
    top: 288px;
    left: 373px;
    width: 402px;
    transform: rotate(-66deg);
    box-sizing: border-box;
    transition-property: top, left ;
    transition-duration: 3s;
}
a:hover {
    left: 332px;
    top: 346px;
}
li:hover {
    top: 360px;
    left: 341px 
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    min-width: 100px;
}
