.forms-s {
    margin-top: 70px;
    margin-left: 308px;
    margin-bottom: 80px;
    color: white !important;
}
.form-control {
    color: white !important;
    border-radius: 10px !important;
    width: 500px;
    height: 60px;
    opacity: 50%;
}
.form-button {
    .btn{
        margin-top: 10px;
        margin-left: -10px;
        height: 45px;
        width: 146px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        border-radius: 10px;
        background-color: #4b2d7f !important;
        }
}