.help-header {
    text-align: center;
    margin-top: 95px;
   span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
   }
}
.help-sh {
    text-align: center;
    span {
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 40px;
     color: white;
    }
}
.help-body {
    margin-left: 314px;
    margin-right: 353px;
    text-align: center;
    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: white;
       }
}