body {
    background: url(../pic/bg1.jpeg);
}
.container{
    position: relative;
    margin: 5px auto;
    max-width: 768px;
}
.header {
    background-color: #f44336;
    color: #fff;
    border: 1px solid #000;
    padding: 30px 40px;
    text-align: center;
    border-radius:5px ;
  }
  input {
      margin: 4px;
  }
  select{
    margin: 4px;
  }
  button{
    margin: 4px;
  }
  .catColor{
      text-align: left;
  }
  table {
      margin-top: 20px;
      background-color: rgb(147, 224, 248);
  }
  .close {
    position: relative;
    font-size: 20px;
    right: -49px;
    top: 0px;
    padding: 0px 0px 0px 0px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  .arrow{
    position: relative;
    font-size: 18px;
    right: 31px;
    top: 0px;
    padding: 5px 6px 5px 6px;
}
  .arrow:hover {
    background-color: #f44336;
    color: white;
  }
  .dn{
      display: none;
  }
