.about-comp{
    background: url("../img/World-Map.jpg") no-repeat;
    background-size: 100%;
}
.au-header{
    font-family: 'Palatino Linotype', sans-serif;
    font-style: italic;
    font-size: 33px;
    margin-top: 102px;
    margin-left: 306px;
}
.au-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 306px;
    margin-top: 21px;
}