td {
    width: 300px;
    height: 150px;
    border: 5px solid #000;
}
table {
    background-color: rgb(153, 1, 1);
    border-collapse: collapse;
    font-weight: 600;
    color: white;
    font-size: 40px;
}