header {
  background: url("../img/header-bg-2.jpg") no-repeat;
  background-size: cover;
  height: 1006px;
  width: 100%; }

html {
  overflow-x: hidden; }

.logo {
  margin-top: 46px;
  margin-left: 80px; }

ul {
  float: right;
  display: flex;
  list-style-type: none; }
  ul li {
    font-size: 18px;
    margin-right: 34px;
    margin-top: 70px; }
    ul li a {
      text-decoration: none; }
      ul li a span {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: white; }

.header-text {
  margin-top: 181px;
  margin-left: 235px;
  font-size: 43px; }
  .header-text span {
    font-family: 'Palatino Linotype', sans-serif;
    font-style: italic;
    color: white; }

.main-text {
  margin-top: 33px;
  margin-left: 235px; }
  .main-text span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: white; }

.text-body {
  margin-top: 52px;
  margin-left: 235px; }
  .text-body span {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: white; }

.man-img {
  height: 0px; }
  .man-img img {
    position: relative;
    top: -631px;
    left: 897px;
    margin-bottom: 10px; }

.header-button {
  margin-bottom: 20px;
  margin-left: 300px;
  margin-top: 71px; }
  .header-button .btn {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase; }
  .header-button .btn-primary {
    background-color: #f42267; }
  .header-button .btn-secondary {
    background-color: #67328d;
    margin-left: 24px; }

.about-comp {
  background: url("../img/World-Map.jpg") no-repeat;
  background-size: 100%; }

.au-header {
  font-family: 'Palatino Linotype', sans-serif;
  font-style: italic;
  font-size: 33px;
  margin-top: 102px;
  margin-left: 306px; }

.au-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-left: 306px;
  margin-top: 21px; }

.tabs {
  margin-top: 31px;
  margin-left: 321px; }
  .tabs .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #000; }
  .tabs .active {
    border-radius: 20px !important;
    width: 130px !important;
    background-color: #f42267 !important; }

.au-main-text {
  margin-left: 305px;
  margin-top: 30px; }
  .au-main-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; }

.au-button .btn {
  margin-left: 317px;
  margin-top: 55px;
  margin-bottom: 120px;
  height: 45px;
  width: 146px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-radius: 10px; }
.au-button .btn-primary {
  background-color: #f42267; }

.watch-img img {
  position: relative;
  top: 70px;
  left: 210px; }

.project-img img {
  margin-left: 345px;
  margin-top: 80px; }

.project-text {
  color: #fff; }
  .project-text .project-text-dif {
    margin-left: 200px;
    margin-top: 30px;
    text-align: center; }
    .project-text .project-text-dif span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 40px; }
  .project-text .project-text-header {
    margin-left: 200px;
    margin-top: 30px;
    text-align: center; }
    .project-text .project-text-header span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 30px; }
  .project-text .project-text-main {
    margin-left: 200px;
    margin-top: 40px;
    text-align: center;
    opacity: 50%; }
    .project-text .project-text-main span {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px; }

.employees-text {
  color: #fff; }
  .employees-text .employees-text-dif {
    margin-left: 200px;
    margin-top: 30px;
    text-align: center; }
    .employees-text .employees-text-dif span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 40px; }
  .employees-text .employees-text-header {
    margin-left: 200px;
    margin-top: 30px;
    text-align: center; }
    .employees-text .employees-text-header span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 30px; }
  .employees-text .employees-text-main {
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    opacity: 50%; }
    .employees-text .employees-text-main span {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px; }

.employees {
  background-color: #40286a; }

.awards-text {
  color: #fff; }
  .awards-text .awards-text-dif {
    margin-left: 200px;
    margin-top: 30px;
    text-align: center; }
    .awards-text .awards-text-dif span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 40px; }
  .awards-text .awards-text-header {
    margin-left: 200px;
    margin-top: 30px;
    text-align: center; }
    .awards-text .awards-text-header span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 30px; }
  .awards-text .awards-text-main {
    margin-left: 200px;
    margin-top: 40px;
    text-align: center;
    opacity: 50%; }
    .awards-text .awards-text-main span {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px; }

.our-acievement {
  position: relative;
  background-color: #4b2d7f; }

.story {
  background-image: url(../img/story_bg.jpg);
  background-size: cover;
  text-align: center;
  color: white; }
  .story .story-header {
    margin-top: 100px; }
    .story .story-header span {
      font-family: 'Palatino Linotype', sans-serif;
      font-style: italic;
      font-size: 50px; }
  .story .story-sh {
    margin-top: 35px; }
    .story .story-sh span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 50px; }
  .story .story-text {
    margin: 50px 457px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; }

.story-button .btn {
  margin-top: 55px;
  margin-bottom: 90px;
  height: 45px;
  width: 146px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-radius: 10px;
  background-color: #f42267 !important; }

/*# sourceMappingURL=main.css.map */
