.services-bubble-img {
    margin-left: 313px;
    margin-top: 60px;
}
.services-bubble-text-header {
    margin-left: 306px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
}
.services-bubble-text-body {
    margin-left: 304px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
}
.services-bubble-button {
    .btn {
        margin-top: 45px;
        margin-bottom: 126px;
        margin-left: 306px;
        height: 45px;
        width: 146px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        border-radius: 10px;
        background-color: #f42267 !important;
        }
}
.services-megaphone-img {
    margin-top: 60px;
    margin-left: 150px;
}
.services-megaphone-text-header {
    margin-left: 150px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
}
.services-megaphone-text-body {
    margin-left: 150px;
    margin-right: 100px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
}
.services-megaphone-button {
    margin-left: 150px;
    .btn{
    margin-top: 45px;
    margin-bottom: 126px;
    height: 45px;
    width: 146px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    background-color: #f42267 !important;
    }
}