.services-text-header {
    margin-top: 105px ;
    margin-left: 304px;
    span {
        font-family: 'Palatino Linotype', sans-serif;
        font-style: italic;
        font-size: 33px;
    }
}
.services-text-sh {
    margin-left: 304px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 50px;
    }
}
.services-text-main {
    margin-left: 304px;
    margin-top: 40px;
    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }
}
