<form [formGroup] = "postForm" (ngSubmit)="addBlog()" novalidate>
  <div class="blog_form">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="blog_title" class="form-label">Название блога</label>
            <input type="text" class="form-control" id="blog_title" placeholder="Введите название блога" formControlName="title">
            <div class="alert alert-danger" *ngIf="postForm.controls['title'].invalid && postForm.controls['title'].touched">

            <span *ngIf="postForm.controls['title'].errors?.['required']">
              Ничего не введено
            </span>
            <span *ngIf="postForm.controls['title'].errors?.['minlength']">
              Меньше 10 символов
          </span>
            </div>

          </div>
          <div class="mb-3 col-6">
            <label for="blog_preview" class="form-label">Превью</label>
            <input type="text" class="form-control" id="blog_preview" placeholder="Введите превью блога" formControlName="preview">
            <div class="alert alert-danger"
              *ngIf="postForm.controls['preview'].invalid && postForm.controls['preview'].touched">
              Не вписано превью
            </div>
          </div>
    </div>
      <div class="row">
        <div class="mb-3 col-6">
          </div>
          <div class="mb-3 col-6">
            <label for="blog_data" class="form-label">Дата:</label>
            <input type="date" class="form-control" id="blog_data" placeholder="Дата блога" formControlName="data">
            <div class="alert alert-danger"
              *ngIf="postForm.controls['data'].invalid && postForm.controls['data'].touched">
              Выберете дату
            </div>
          </div>
      </div>
      <div class="mb-3">
        <label for="blog_text" class="form-label">Текст блога:</label>
        <textarea class="form-control" id="blog_text" rows="3" formControlName="text"></textarea>
        <div class="alert alert-danger"
        *ngIf="postForm.controls['text'].invalid && postForm.controls['text'].touched">
        Введите текст
      </div>
      </div>
      <button type="submit" class="btn btn-outline-success" [disabled] = "postForm.invalid" >Success</button>
</div>

</form>
