#container{
    width: 800px;
    display: flex;
    flex-wrap: wrap;

}
.black{
    height: 200px;
    width: 200px;
    background: black;
}
.white{
    height: 200px;
    width: 200px;
    background: white;
} 
.circle{
    height: 200px;
    width: 200px;
    background: green;
    border-radius: 100px;
}
