.autor{
    margin-left: 100px;
}
.title{
    text-align: center;
    margin-bottom: 50px ;
    .title-in{
        font-size:30px;
        text-align: center;
    }
}
.com{
    border: 1px solid #000;
    margin-top: 20px ;
    border-radius: 10px ;
}