.blog{
    margin-top: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
.user{
font-size: 20px;
}
.date{
    font-size: 10px;
}
.blog_title{
    margin-top: 20px;
.title{
    font-weight: bold;
    font-size: 30px;
}
}
.blog_preview{
    margin-top: 20px ;
    margin-bottom: 10px;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    width: 10em; 
}
.star {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
    position: relative;
  }
  
  .star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: linear-gradient(to bottom, rgba(221, 220, 219, 1) 0%, rgba(209, 208, 206, 1) 100%);
    z-index: 1;
  }
  
  .star,
  .star:before {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
  }

  
  .star-background{
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
  }
  
  .star-background:before {
    background: linear-gradient(to bottom, rgba(243, 212, 85, 1) 0%, rgba(238, 164, 0, 1) 100%);
  }
  .blog_list_head{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-size: 25px;
    margin-top: 20px; 
}
.btn-add{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    margin-top: 20px;
    margin-left: 600px;
}