@import "./components/header/index";
@import "./components/about-company/index";
@import "./components/services/index";
@import "./components/story/index";
@import "./components/ideas/index";
@import "./components/work/index";
@import "./components/clients/index";
@import "./components/testimonials/index";
@import "./components/help/index";
@import "./components/links/index";
@import "./components/quick/index";
@import "./components/footer/index"